# .env.example (for teams)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
POSTGRES_DB=myapp
POSTGRES_USER=admin
POSTGRES_PASSWORD=example
NODE_ENV=
BACKEND_HOST=
BACKEND_PORT=
BACKEND_HOST_PORT=
VITE_API_URL=
